<form method="post" action="/admin/promote">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <p>Nuevo admin : <b><%= email %></b></p>
    <a href="/"><button type="button">Ir a Inicio</button></a>
  </form>
  